<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Console_PackingListPrint.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <!-- Uncomment to connect the application file log. -->
          <add name="FileLog"/>
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="EventLog" /> -->
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="Delimited" /> -->
          <!-- Uncomment to connect the XML log. -->
          <!-- <add name="XmlWriter" /> -->
          <!-- Uncomment to connect the console log. -->
          <!-- <add name="Console" /> -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener,&#xD;&#xA;           Microsoft.VisualBasic, Version=8.0.0.0,&#xD;&#xA;           Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

                                                             initializeData="C:\ITO_PackingLists"/>
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener,&#xD;&#xA;           System, Version=2.0.0.0,&#xD;&#xA;           Culture=neutral, PublicKeyToken=b77a5c561934e089"

                                                             initializeData="sample application"/>
      <add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener,&#xD;&#xA;           System, Version=2.0.0.0,&#xD;&#xA;           Culture=neutral, PublicKeyToken=b77a5c561934e089"

                                                             initializeData="c:\temp\sampleDelimitedFile.txt" traceOutputOptions="DateTime"/>
      <add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener,&#xD;&#xA;           System, Version=2.0.0.0,&#xD;&#xA;           Culture=neutral, PublicKeyToken=b77a5c561934e089"

                                                             initializeData="c:\temp\sampleLogFile.xml"/>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener,&#xD;&#xA;           System, Version=2.0.0.0,&#xD;&#xA;           Culture=neutral, PublicKeyToken=b77a5c561934e089"

                                                             initializeData="true"/>
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Console_PackingListPrint.My.MySettings>
      <setting name="sqlServer" serializeAs="String">
        <value>AI01</value>
      </setting>
      <setting name="sqlDBName" serializeAs="String">
        <value>ROBOTICS_OPTICS_DEV</value>
      </setting>
      <setting name="sqlUsername" serializeAs="String">
        <value>testuser</value>
      </setting>
      <setting name="sqlPassword" serializeAs="String">
        <value>testpassword</value>
      </setting>
      <setting name="ConnStr" serializeAs="String">
        <value />
      </setting>
    </Console_PackingListPrint.My.MySettings>
  </userSettings>
</configuration>
